# EDA

## Basic Statistics

In [2]:
cd ..

/home/jovyan/Desktop/DSI/Capstone

In [3]:
%matplotlib inline
%run __init__.py

In [4]:
import warnings
warnings.filterwarnings("ignore")

In [182]:
dow_jones_df = pd.read_pickle('data/dow_jones_df.p')

In [70]:
dow_jones_df.head(20)

,ticker,date,open,high,low,close,volume,ex-dividend,split_ratio,adj_open,adj_high,adj_low,adj_close,adj_volume
0,MMM,2007-11-20,81.99,82.68,81.02,82.11,4429500.0,0.48,1.0,63.472174,64.006334,62.721253,63.565072,4429500.0
1,MMM,2007-11-21,81.60,82.50,81.24,81.24,4703300.0,0.00,1.0,63.170258,63.866988,62.891565,62.891565,4703300.0
2,MMM,2007-11-23,81.83,82.75,81.06,82.75,1726100.0,0.00,1.0,63.348311,64.060525,62.752219,64.060525,1726100.0
3,MMM,2007-11-26,82.60,82.95,80.89,81.00,4067600.0,0.00,1.0,63.944403,64.215354,62.620614,62.705770,4067600.0
4,MMM,2007-11-27,81.58,82.39,80.97,82.12,4319100.0,0.00,1.0,63.154775,63.781832,62.682546,63.572813,4319100.0
5,MMM,2007-11-28,82.57,83.80,82.04,83.41,4377400.0,0.00,1.0,63.921178,64.873377,63.510881,64.571461,4377400.0
6,MMM,2007-11-29,83.08,84.10,82.97,83.61,3226400.0,0.00,1.0,64.315993,65.105621,64.230837,64.726290,3226400.0
7,MMM,2007-11-30,84.44,84.94,82.38,83.26,5738700.0,0.00,1.0,65.368830,65.755903,63.774091,64.455339,5738700.0
8,MMM,2007-12-03,83.43,83.98,81.94,82.21,4272100.0,0.00,1.0,64.586943,65.012723,63.433467,63.642486,4272100.0
9,MMM,2007-12-04,81.91,82.94,81.60,82.09,3189000.0,0.00,1.0,63.410243,64.207612,63.170258,63.549589,3189000.0
10,MMM,2007-12-05,82.69,83.99,82.51,83.76,3255800.0,0.00,1.0,64.014076,65.020465,63.874730,64.842411,3255800.0
11,MMM,2007-12-06,83.73,85.00,83.56,84.82,2937500.0,0.00,1.0,64.819187,65.802352,64.687582,65.663005,2937500.0
12,MMM,2007-12-07,85.00,86.53,84.06,86.19,3709400.0,0.00,1.0,65.802352,66.986794,65.074655,66.723585,3709400.0
13,MMM,2007-12-10,86.66,87.15,86.26,86.74,3291900.0,0.00,1.0,67.087433,67.466764,66.777775,67.149364,3291900.0
14,MMM,2007-12-11,87.05,87.05,84.65,84.65,4310900.0,0.00,1.0,67.389349,67.389349,65.531401,65.531401,4310900.0
15,MMM,2007-12-12,88.10,88.70,85.97,86.66,7253900.0,0.00,1.0,68.202202,68.666689,66.553273,67.087433,7253900.0
16,MMM,2007-12-13,86.41,87.06,85.34,86.92,4294000.0,0.00,1.0,66.893896,67.397091,66.065561,67.288711,4294000.0
17,MMM,2007-12-14,86.12,87.58,85.88,85.93,3373200.0,0.00,1.0,66.669394,67.799647,66.483599,66.522307,3373200.0
18,MMM,2007-12-17,85.88,86.70,85.39,85.78,3731500.0,0.00,1.0,66.483599,67.118399,66.104268,66.406185,3731500.0
19,MMM,2007-12-18,86.21,86.31,85.03,85.85,3080500.0,0.00,1.0,66.739067,66.816482,65.825576,66.460375,3080500.0

In [71]:
dow_jones_df.describe()

,open,high,low,close,volume,ex-dividend,split_ratio,adj_open,adj_high,adj_low,adj_close,adj_volume
count,70292.000000,70292.000000,70292.000000,70292.000000,7.029200e+04,70292.000000,70292.000000,70292.000000,70292.000000,70292.000000,70292.000000,7.029200e+04
mean,73.153567,73.795016,72.511266,73.175289,1.635273e+07,0.007139,1.000085,61.755211,62.282269,61.227952,61.773734,1.719009e+07
std,44.206208,44.505525,43.918607,44.222027,2.184967e+07,0.066512,0.013066,41.962489,42.245121,41.692153,41.978959,2.216151e+07
min,6.750000,7.170000,5.727900,6.660000,5.073170e+05,0.000000,1.000000,5.137174,5.456821,4.359292,5.068679,5.073170e+05
25%,38.450000,38.847500,38.000000,38.427500,4.731880e+06,0.000000,1.000000,28.888711,29.211127,28.574755,28.896403,5.271601e+06
50%,64.860000,65.400000,64.320000,64.880000,8.838790e+06,0.000000,1.000000,51.487544,51.892094,50.993336,51.462022,9.712853e+06
75%,93.932500,94.660000,93.162500,93.920000,1.842049e+07,0.000000,1.000000,81.967951,82.650452,81.392412,82.031946,1.992430e+07
max,278.650000,278.650000,274.440000,278.290000,7.529044e+08,3.200000,4.000000,265.010000,266.750000,263.340000,264.699194,7.529044e+08

In [72]:
dow_jones_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70292 entries, 0 to 70291
Data columns (total 14 columns):
ticker         70292 non-null object
date           70292 non-null datetime64[ns]
open           70292 non-null float64
high           70292 non-null float64
low            70292 non-null float64
close          70292 non-null float64
volume         70292 non-null float64
ex-dividend    70292 non-null float64
split_ratio    70292 non-null float64
adj_open       70292 non-null float64
adj_high       70292 non-null float64
adj_low        70292 non-null float64
adj_close      70292 non-null float64
adj_volume     70292 non-null float64
dtypes: datetime64[ns](1), float64(12), object(1)
memory usage: 7.5+ MB

## Separate Date Columns into Day, Month, Year Columns

In [73]:
def separate_date_column(df):
    for dates in df['date']:
        df.loc[df['date'] == dates, 'year'] = dates.year
        df.loc[df['date'] == dates, 'month'] = dates.month
        df.loc[df['date'] == dates, 'day_of_month'] = dates.day
        df.loc[df['date'] == dates, 'day_of_week'] = dates.dayofweek

## EDA using only Disney stock

### Create Disney Table

In [74]:
dow_jones_df.ticker.unique()

array(['MMM', 'BA', 'CAT', 'CVX', 'CSCO', 'KO', 'DIS', 'DD', 'XOM', 'GE',
       'GS', 'HD', 'IBM', 'INTC', 'JNJ', 'JPM', 'MCD', 'MRK', 'MSFT',
       'NKE', 'PFE', 'PG', 'TRV', 'UTX', 'UNH', 'VZ', 'V', 'WMT'], dtype=object)

In [75]:
disney_df = dow_jones_df[dow_jones_df['ticker'] == 'DIS']
disney_df.to_pickle('data/disney_df.p')

### Feature Engineering

In [76]:
%run __indicators__.py
disney_df = pd.read_pickle('data/disney_df.p')
disney_df.head()

,ticker,date,open,high,low,close,volume,ex-dividend,split_ratio,adj_open,adj_high,adj_low,adj_close,adj_volume
15104,DIS,2007-11-20,31.47,31.8900,31.0200,31.55,9425700.0,0.0,1.0,27.387327,27.752839,26.995706,27.456948,9425700.0
15105,DIS,2007-11-21,31.35,31.7000,31.1200,31.50,8661400.0,0.0,1.0,27.282895,27.587488,27.082733,27.413435,8661400.0
15106,DIS,2007-11-23,31.65,31.8952,31.4878,31.84,3548500.0,0.0,1.0,27.543975,27.757365,27.402817,27.709326,3548500.0
15107,DIS,2007-11-26,31.91,31.9600,31.2000,31.24,7337600.0,0.0,1.0,27.770244,27.813758,27.152354,27.187165,7337600.0
15108,DIS,2007-11-27,31.26,31.8200,30.6800,31.72,14270700.0,0.0,1.0,27.204570,27.691920,26.699815,27.604894,14270700.0

In [77]:
disney_df = MA(disney_df, 5)
disney_df = MA(disney_df, 21)
disney_df = MA(disney_df, 63)
disney_df = MA(disney_df, 125)
disney_df = MA(disney_df, 250)

In [78]:
disney_df = EMA(disney_df, 5)
disney_df = EMA(disney_df, 21)
disney_df = EMA(disney_df, 63)
disney_df = EMA(disney_df, 125)
disney_df = EMA(disney_df, 250)

In [79]:
disney_df = MOM(disney_df, 5)
disney_df = MOM(disney_df, 21)
disney_df = MOM(disney_df, 63)
disney_df = MOM(disney_df, 125)
disney_df = MOM(disney_df, 250)

In [80]:
disney_df = ROC(disney_df, 5)
disney_df = ROC(disney_df, 21)
disney_df = ROC(disney_df, 63)
disney_df = ROC(disney_df, 125)
disney_df = ROC(disney_df, 250)

In [81]:
disney_df = ATR(disney_df, 5)
# disney_df = ATR(disney_df, 21)
# disney_df = ATR(disney_df, 63)
# disney_df = ATR(disney_df, 125)
# disney_df = ATR(disney_df, 250)

KeyError: 1

In [43]:
disney_df = BBANDS(disney_df, 5)
disney_df = BBANDS(disney_df, 21)
disney_df = BBANDS(disney_df, 63)
disney_df = BBANDS(disney_df, 125)
disney_df = BBANDS(disney_df, 250)

In [44]:
disney_df = PPSR(disney_df)

In [45]:
disney_df = STOK(disney_df)

In [46]:
disney_df = STO(disney_df, 5)
disney_df = STO(disney_df, 21)
disney_df = STO(disney_df, 63)
disney_df = STO(disney_df, 125)
disney_df = STO(disney_df, 250)

In [47]:
# disney_df = TRIX(disney_df, 5)
# disney_df = TRIX(disney_df, 21)
# disney_df = TRIX(disney_df, 63)
# disney_df = TRIX(disney_df, 125)
# disney_df = TRIX(disney_df, 250)

In [48]:
# ADX

In [49]:
# MACD

In [50]:
disney_df = MassI(disney_df)

In [51]:
# disney_df = Vortex(disney_df, 5)
# disney_df = Vortex(disney_df, 21)
# disney_df = Vortex(disney_df, 63)
# disney_df = Vortex(disney_df, 125)
# disney_df = Vortex(disney_df, 250)

In [52]:
# KST

In [53]:
# disney_df = RSI(disney_df, 5)
# disney_df = RSI(disney_df, 21)
# disney_df = RSI(disney_df, 63)
# disney_df = RSI(disney_df, 125)
# disney_df = RSI(disney_df, 250)

In [54]:
# TSI

In [55]:
disney_df = ACCDIST(disney_df, 5)
disney_df = ACCDIST(disney_df, 21)
disney_df = ACCDIST(disney_df, 63)
disney_df = ACCDIST(disney_df, 125)
disney_df = ACCDIST(disney_df, 250)

In [56]:
disney_df = Chaikin(disney_df)

In [57]:
# disney_df = MFI(disney_df, 5)
# disney_df = MFI(disney_df, 21)
# disney_df = MFI(disney_df, 63)
# disney_df = MFI(disney_df, 125)
# disney_df = MFI(disney_df, 250)

In [58]:
# disney_df = OBV(disney_df, 5)
# disney_df = OBV(disney_df, 21)
# disney_df = OBV(disney_df, 63)
# disney_df = OBV(disney_df, 125)
# disney_df = OBV(disney_df, 250)

In [59]:
disney_df = FORCE(disney_df, 5)
disney_df = FORCE(disney_df, 21)
disney_df = FORCE(disney_df, 63)
disney_df = FORCE(disney_df, 125)
disney_df = FORCE(disney_df, 250)

In [60]:
disney_df = EOM(disney_df, 5)
disney_df = EOM(disney_df, 21)
disney_df = EOM(disney_df, 63)
disney_df = EOM(disney_df, 125)
disney_df = EOM(disney_df, 250)

In [61]:
disney_df = CCI(disney_df, 5)
disney_df = CCI(disney_df, 21)
disney_df = CCI(disney_df, 63)
disney_df = CCI(disney_df, 125)
disney_df = CCI(disney_df, 250)

In [62]:
disney_df = COPP(disney_df, 5)
disney_df = COPP(disney_df, 21)
disney_df = COPP(disney_df, 63)
disney_df = COPP(disney_df, 125)
disney_df = COPP(disney_df, 250)

In [63]:
disney_df = KELCH(disney_df, 5)
disney_df = KELCH(disney_df, 21)
disney_df = KELCH(disney_df, 63)
disney_df = KELCH(disney_df, 125)
disney_df = KELCH(disney_df, 250)

In [64]:
# disney_df = ULTOSC(disney_df)

In [65]:
# disney_df = DONCH(disney_df, 5)
# disney_df = DONCH(disney_df, 21)
# disney_df = DONCH(disney_df, 63)
# disney_df = DONCH(disney_df, 125)
# disney_df = DONCH(disney_df, 250)

In [66]:
disney_df = STDDEV(disney_df, 5)
disney_df = STDDEV(disney_df, 21)
disney_df = STDDEV(disney_df, 63)
disney_df = STDDEV(disney_df, 125)
disney_df = STDDEV(disney_df, 250)

In [67]:
disney_df.shape

(2518, 104)

In [1]:
disney_df.head()

NameError: name 'disney_df' is not defined